#shout {
  display: none;
  margin: auto;
  background-size: cover;
  padding-top: 50px;
  width: 800px;}

body {
  color: white;
  background-color: darkgreen;
}

button {
  background-color: black;
}
